@import '../../../../styles/colors';

.admin-courses-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: $dark-grey;
  &__title {
    font-size: xx-large;
    font-weight: bold;
  }
}