@import '../../../styles/colors';

.optionals-list-card {
  display: flex;
  flex-direction: column;
  border: $medium-grey solid .05rem;
  background-color: #ffffff;
  box-shadow: .1rem .1rem .05rem $medium-grey;
  padding: .75rem 1.5rem;
  gap: 2.5rem;

  cursor: pointer;
  &:hover {
  background-color: #f1eff1;
  }

  &__main-title {
  font-size: x-large;
  }

  &__sub-title {
  font-size: x-large;
  }

  &__title {
  font-size: x-large;
  }
}