.link-button {
    all: unset;
    text-transform: uppercase;
    background-color: #0366d6;
    color: white;
    border-radius: .5rem;
    margin: .5rem 0 1rem 0;
    height: 3.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.link-button--syllabus {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    color: #525252;
    background-color: transparent;
    border: #525252 solid .2rem;
    grid-area: syllabus-button;
    margin: 0;
}