@import '../../../styles/colors';

.link-button {
  all: unset;
  text-transform: uppercase;
  background-color: $blue;
  color: white;
  border-radius: .5rem;
  margin: .5rem 0 1rem 0;
  height: 3.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.link-button--syllabus {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  color: $dark-grey;
  background-color: transparent;
  border: $dark-grey solid .2rem;
  grid-area: syllabus-button;
  margin: 0;
  &:hover {
    background-color: $dark-grey;
    color: white;
  }
}