.languages {
    
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding: .5rem 0 0 .5rem;
    height: 5vh;
    gap: 1rem;
    
    &__img {
        cursor: pointer;
        opacity: 75%;
        &:hover {
            opacity: 100%;
        }
    }

    &__img--selected {
        opacity: 100%;
    }
}