.button {
    all: unset;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    background-color: #0366d6;
    color: white;
    border-radius: .5rem;
    margin: .5rem 0 1rem 0;
    height: 3.5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    
    &:disabled {
        background-color: #c4c4c4;
        color: #525252;   
        cursor: not-allowed; 
    }

}

.button--save {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #4ea853;
    background-color: transparent;
    border: #4ea853 solid .2rem;
    grid-area: save-button;
    margin: 0;
}

.button--excel {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #0366d6;
    background-color: transparent;
    border: #0366d6 solid .2rem;
    grid-area: excel-button;
    margin: 0;
}

.button--mail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
    background-color: transparent;
    border: #c4c4c4 solid .2rem;
    grid-area: mail-button;
    margin: 0;   
}