.button {
    all: unset;
    text-transform: uppercase;
    background-color: #0366d6;
    color: white;
    border-radius: .5rem;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    
    &:disabled {
        background-color: #c4c4c4;
        color: #525252;   
        cursor: not-allowed; 
    }

}