@import '../../../styles/colors';

.student-course-card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    ". info syllabus-button";
  
  column-gap: .5rem;
  border: $medium-grey solid .05rem;
  background-color: #ffffff;
  box-shadow: .1rem .1rem .05rem $medium-grey;
  padding: .75rem 1.5rem;
  height: 3rem;

  align-items: center;

  &__info {
    grid-area: info;
    color: $dark-grey;
    justify-self: center;
    font-size: small;
  }
}