
@import '../../../../styles/colors';

.accounts-list {
  width: 100%;   
  display: flex;
  flex-direction: column;
  font-size: medium;
  color: $dark-grey; 
  grid-area: accounts-list;

  &__title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1.5rem;
  }

  &__header {
    display: grid;
    border-bottom: $dark-grey solid .1rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    grid-template-columns: .1fr 2fr;
    grid-template-areas: 
      "header-index header-email";

    &__index {
      grid-area: header-index;
    }

    &__email {
      grid-area: header-email;
    }
  }

  &__item {
    padding: .75rem 0;
    display: grid;
    grid-template-columns: .1fr 2fr;
    grid-template-areas: 
      "item-index item-email";

    cursor: pointer;
    &:hover {
    background-color: $light-grey;
    }
    
    &__index {
      grid-area: item-index;
    }

    &__email {
      grid-area: item-email;
    }


  }
}