.courses {
    display: grid;
    row-gap: 5rem;
    grid-template-areas: 
        "dropdown-teacher-list . . . ."
        ". . . . ."
        "students-list students-list students-list students-list students-list"
        ". . mail-button . excel-button";
}