@import '../../../styles/colors';

.input-field {

  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
  margin: .5rem 0 1rem 0;

  &__label {
    color: $dark-grey;
    text-transform: uppercase;
  }

  &__input-group {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    border-radius: .5rem;
    border: .15rem solid $medium-grey;
    height: 3.5rem;
    background-color: white;

    &:hover {
      border-color: $blue;
    }

    gap: .75rem;
    
    &__icon {
      color: $dark-grey;
    }

    &__icon--password {
      cursor: pointer;
      margin-left: auto;
    }

    &__input {
      all: unset;
      color: $dark-grey;
      flex: 1;
      &::placeholder {
        color: $medium-grey;
      }
    }
  }

  &__input-group--error {
    border-color: $error;
  }

}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: $blue;
  background-color: transparent;
  border: $blue solid .2rem;
  grid-area: excel-button;
  margin: 0;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

.input-field--error {
  &__error-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .2rem;
    &__icon {
      color: $error;
    }
    &__span {
      color: $error;
      white-space: pre-wrap;       
    }  
  }

}