.side-nav {
    position: sticky;
    display: grid;
    grid-template-rows: 1fr .5fr 2fr .5fr 3fr 1fr .5fr;
    row-gap: 1rem;
    grid-template-areas: 
        "languages"
        "." 
        "logo"
        "welcome-message" 
        "links" 
        "copyright" 
        ".";
    justify-content: center;
    align-items: center;
    background-color: white;
    border-right: #c4c4c4 solid .05rem;
    height: 100%;
    width: 20vw;
    z-index: 5;

    &__logo {
        grid-area: logo;
        width: 75%;
        align-self: center;
        justify-self: center;
    }

    &__welcome-message {
        grid-area: welcome-message;
        color: #525252;
        font-size: medium;
        align-self: center;
        justify-self: center;
    }
    
    &__links {
        grid-area: links;
        display: flex;
        flex-direction: column;
        width: 75%;
        align-self: center;
        justify-self: center;
    }

    &__copyright {
        grid-area: copyright;
        color: #c4c4c4;
        text-align: center;
    }


}