@import '../../../styles/colors';

.modal-api-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  &__icon {
    font-size: xx-large;
    color: $success;
    
  }
  &__icon--error {
    color: $error;
  }

  &__text {
    font-size: large;
  }
}