@import '../../../styles/colors';

.textarea-field {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
  margin: .5rem 0 1rem 0;

  &__label {
  color: $dark-grey;
  text-transform: uppercase;
  }

  &__textarea {
  all: unset;
  padding: 1rem;
  border-radius: .5rem;
  border: .15rem solid $medium-grey;
  color: $dark-grey;
  &:hover {
    border-color: $blue;
  }
  &:focus {
    border-color: $blue;
  }
  &:invalid {
    border-color: $error;
  }
  }
}