@import '../../../styles/colors';

.checkbox {
  display: flex;
  padding: .75rem;
  border-radius: .25rem;
  color: $medium-grey;
  gap: .5rem;
  font-size: large;

  &:hover {
    background-color: $light-grey;
  }

  &__input {
    background-color: $blue;
    margin: 0;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.15rem solid $medium-grey;
    border-radius: 0.25rem;
    transform: translateY(0.1rem);
  }
}

.checkbox__input:checked + .checkbox__label {
  color: $dark-grey;
}